.article-header-contacts {
    margin-bottom: 2em;
}

.article-content-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-github {
    color: #f0f6fc;
}

.fa-at {
    color: #ee4443;
}

.fa-brands,
.fa-solid {
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

.fa-brands:hover,
.fa-solid:hover {
    transform: scale(1.1);
}
