@media only screen and (max-width: 995px) {
    .header {
        padding: 0.6em 4em;
    }

    .section-one {
        padding: 6em;
    }

    .section-one h5 {
        font-size: 1.2rem;
    }

    .section-one h1 {
        font-size: 3.5rem;
        margin-bottom: 10px;
    }

    .section-one p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .section-one h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 465px) {
    .section-one h1 {
        font-size: 1.8rem;
        margin-bottom: 1em;
    }

    .project-title {
        font-size: 2rem;
    }
}