@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --primary-color: #4754ae;
    --secondary-color: #5b6dc2;
    --tertiary-color: #F27E9D;
    --text-color: #f5f5f5;
    --primary-br: 16px;
    --secondary-br: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("../img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 6em;
}

.header a {
    color: var(--text-color);
    display: inline-block;
}

.header a::after {
    content: '';
    display: block;
    background-color: var(--text-color);
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.header a:hover::after {
    width: 100%;
}

.section-one {
    padding: 4em 6em;
    color: var(--text-color);
    text-align: center;
}

.section-one h4 {
    font-size: 1.5rem;
}

.section-one h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.section-one p {
    font-size: 1.5rem;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}

.btn-container button {
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    outline: 0;
    border-radius: var(--secondary-br);
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0.6em 2.2em;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-container button:hover {
    background-color: transparent;
    color: var(--tertiary-color);
}