.Projects {
    width: 100%;
}

.Projects header h4 {
    text-transform: uppercase;
}

.ProjectsContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
}

.ProjectsContainer header {
    margin-bottom: 1rem;
}

.ProjectsContainer section .Article {
    margin-bottom: 2.5em;
}

.YearPublished {
    font-size: 12px;
}

.ArticleLink {
    display: flex;
    align-items: center;
}

.ArticleLink span {
    padding-left: 0.3em;
    font-size: 26px;
}

.ProjectsContainer section .Article a {
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.ProjectsContainer section .Article a:hover {
    text-decoration-line: underline;
}
@media only screen and (max-width: 535px) {
    .ProjectsContainer section .Article a {
        font-size: 1em;
    }
}

/* .ProjectsContainer section .Article a::after {
    content: ">";
    padding-left: 0.3em;
} */
