.About {
    width: 100%;
    margin-bottom: 4em;
}

.AboutContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 165px;
    max-width: 1280px;
    margin: 0 auto;
}
@media (max-width: 614px) {
    .AboutContainer {
        grid-template-columns: 1fr;
        margin-bottom: 1em;
        height: 100%;
    }
}

.AboutContainer div {
    padding: 1em;
    text-align: center;
}

.AboutContainer div p {
    margin-bottom: 0.5em;
    color: var(--black);
    background-color: var(--lime);
    text-transform: uppercase;
    font-family: "Krona One", sans-serif;
    font-weight: 500;
}
